@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");

:root {
  --font-inter: "Inter", system-ui, sans-serif;
  --color-primary: #202e13;
  --color-secondary: #ffffff;
  --button-font-size: 24px;
  --button-padding: 20px;
  --button-size: 80px;
  --arrow-in-button-size: 56px;
  --button-underline-weight: 2px;
  --color-title-white: #ffffff;
  --color-title-lightgray: #e0dfdf;
  --color-text-light: #d7d7d7;
  --hero-title-size: 96px;
  --hero-desc-size: 26px;
  --hero-title-div: 36px;
  --container-padding: 40px;
  --font-weight-regular: 400;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
}

body {
  margin: 0;
  font-family: var(--font-inter);
}

.container {
  padding-left: var(--container-padding);
  padding-right: var(--container-padding);
}

.hero-title {
  font-family: var(--font-inter);
  font-size: var(--hero-title-size);
  line-height: 1.05;
  text-align: left;
}

.hero-title-white {
  color: var(--color-title-white);
  font-weight: 400;
}

.hero-title-lightgray {
  color: var(--color-title-lightgray);
  font-weight: 600;
}

.hero-desc {
  color: var(--color-text-light);
  font-size: var(--hero-desc-size);
  font-family: var(--font-inter);
  font-weight: 400;
  text-align: left;
}

.background-overlay {
  background: #000;
  opacity: 0.4;
  width: 100%;
  height: 100%;
}

/* Utilitaires pour le texte */
.text-primary {
  color: var(--color-primary);
}

.text-secondary {
  color: var(--color-secondary);
}

/* Utilitaires pour boutons */
.button {
  font-family: var(--font-inter);
  font-size: var(--button-font-size);
  padding: var(--button-padding-y) 32px;
  border: none;
  border-radius: 0;
}

.button-primary {
  font-weight: var(--font-weight-semibold);
  color: var(--color-secondary);
  background: var(--color-primary);
}

.button-secondary {
  font-weight: var(--font-weight-semibold);
  color: var(--color-primary);
  background: var(--color-secondary);
}

.button-tertiary {
  font-weight: var(--font-weight-bold);
  color: var(--color-secondary);
  background: transparent;
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-thickness: var(--button-underline-weight);
}

.button-arrow {
  width: var(--button-size);
  height: var(--button-size);
  background: var(--color-secondary);
  border-radius: var(--button-radius);
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  padding: 0;
}
